@import "settings";
@import "function";


*{
	padding: 0;
	margin: 0;
}

#header{
	width: 960px;
	p{
		color: blue;
		font-size: $fontbase;
	}

	nav{
		li{
			float: left;
			list-style-type: none;
		}
	}

	a{
		color: #000;
		text-decoration: none;
		&:hover{
			color: lighten(red,20%);
		}
	}
}


@for $i from 10 through 14{	
	.fs#{$i}{
		font-size: #{$i}px;
	}
}

$i:10;
@while $i <= 14{
	.fs#{$i}{
		font-size: #{$i}px;
	}
	$i:$i+1;
}


$animals: cat, dog, lion;

@each $animal in $animals{
	.#{$animal}-image{
		background: url("#{$animal}.png");
	}
}




// 関数
.grid{
	float: left;
	width: getColumnWidth($totalWidth, $columnCount);
}


@mixin radius($radius){
	border: 1px solid #000;
	background-color: #fff;
	border-radius: $radius;
}

.kadomaru{
	@include radius(4px);
}


.msg{
	font-size: 12px;
	font-weight: bold;
	padding: 2px 4px;
}

.errormag{
	@extend .msg;
	background-color: red;
}

.savingmsg{
	@extend .msg;
	background-color: orange;
}














